{% include '/template/head.twig'%}
<body>
    <h1 class="text-center mt-5">Pokedex 2000</h1>
    <form class="border border-success formx" method="post" action="{% if action == "/updateUser" %}{{action}}/{{dresseur._id}}{% else %}{{action}}{% endif %}">
        <h2>Inscription</h2>
        <input type="text" class="border border-success" placeholder="Nom du Dresseur" id="name" name="name" value="{{dresseur.name}}">
        <a href="/" class="inscription__a link-light">Déjà inscrit? Accueil</a>
        <p class="p_error text-primary">{{error}}</p>
        <button class="btn btn-success" type="submit">S'inscrire</button>
    </form>
</body>
</html>