{% include '/template/head.twig'%}
{# {% block updater %}{% endblock %} #}
	<a href="/" onclick="disconnect()">Déconnexion</a>
	<h1 class="text-center mt-5 text-white">Pokédex 2000</h1>
	<div class="main_content">
		<div class="main_header">
			<h2 class="text-wrap">Pokémon Total: {{totalPokemons}} (actuel : {{currentPokemons}} )</h2>
			<div class="badge-xl">badges : {{badges}}</div>
			<div class="badge-sm"><i class="uil uil-award"></i> : {{badges}}</div>
			<a href="/addPokemon" class="add_pokemon">Capturer <span>un Pokémon</span></a>
		</div>
		<div class="main_body_card">
		
		{% for pokemon in pokemons|reverse %}
			<div class="col-xl-3 col-lg-4 col-sm-6 col-12 card">
				<div class="card-body">
					<img class="poke_img" src="{{pokemon.src}}">
					<h5 class="card-title">{{pokemon.name}}</h5>
					<p class="card-text">Dégats: {{pokemon.dps}}</p>
					<p class="card-text">Vie: {{pokemon.pv}}</p>
					<p class="card-text">Type : {{pokemon.type}}</p>
					<div class="row">
						<div class="col-md-12 text-center">
							<a href="/updatePokemon/{{pokemon._id}}" class="btn btn-primary ">Modifier</a>
							<a href="/deletePokemon/{{pokemon._id}}" class="btn btn-danger ">Supprimer</a>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
		</div>
	</div>

{% include '/template/footer.twig'%}